<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
      <client>
        <endpoint address="http://localhost:6060/MyPhotosService" binding="basicHttpBinding"
            bindingConfiguration="" contract="MyPhotosInterfaces.IWCFPhotosService"
            name="PhotosServiceEndpoint" kind="" endpointConfiguration="" />
      </client>
    </system.serviceModel>
</configuration>